<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet-mapping>
        <servlet-name>compose</servlet-name>
        <url-pattern>/compose</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>compose</servlet-name>
        <jsp-file>/WEB-INF/jsp/compose.jsp</jsp-file>
    </servlet>
</web-app>
